@font-face {
  font-family: 'Snake' ;
  src: url(./fonts/SnakeHoliday-vmYXD.otf);
}

body {
  /* padding: 1%; */
  /* background-color: rgb(48, 48, 48); */
  background-image: url(./imgs/bambi-jungle-1920x1080-1482501354\ \(1\).png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}

.pageBox {
  margin: 1rem;
  border-radius: 30px;
  /* color: rgb(255, 255, 255); */
  /* width: 83rem; */
  /* height: 41.6rem; */
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  /* grid-template-rows: repeat(  10, 1fr); */
  background-color: rgba(25, 131, 193, 0.216);
  box-shadow: 0 4px 30px rgba(23, 23, 23, 0.356);
  backdrop-filter: blur(2px);
    

}



.snakeladder{
  position: absolute;
}

#ladder1{
  position:absolute;
  
  width: 60px;
  height: 199px;
  rotate: -33deg;
  margin-top: 430px;
  margin-left: 1190px;
  opacity: 85%;
}

#ladder2{
  position:absolute;
  
  width: 60px;
  height: 148px;
  rotate: -44deg;
  margin-top: 424px;
  margin-left: 868px;
  opacity: 90%;
}

#ladder3{
  position:absolute;
  
  width: 60px;
  height: 100px;
  rotate: 0deg;
  margin-top: 315px;
  margin-left: 62rem;
  opacity: 90%;
}

#ladder4{
  position:absolute;
  
  width: 60px;
  height: 200px;
  rotate: -30deg;
  margin-top: 10.5rem;
  margin-left: 50rem;
  opacity: 90%;
}

#ladder5{
  position:absolute;
  
  width: 60px;
  height: 140px;
  rotate: 44deg;
  margin-top: 6.2rem;
  margin-left: 73.9rem;
  opacity: 90%;
}




#snake1{
  position:absolute;
 
  width: 30px;
  height: 130px;
  rotate: 20deg;
  margin-top: 31rem;
  margin-left: 49rem;
  opacity: 90%;
}

#snake2{
  position:absolute;
 
  width: 65px;
  height: 450px;
  rotate: 40deg;
  margin-top: 14.5rem;
  margin-left: 65rem;
  opacity: 80%;
}

#snake3{
  position:absolute;
  
  width: 50px;
  height: 270px;
  rotate: 0deg;
  margin-top: 14.5rem;
  margin-left: 45.5rem;
  opacity: 80%;
}

#snake4{
  position:absolute;
 
  width: 40px;
  height: 220px;
  rotate: 30deg;
  margin-top: 5.5rem;
  margin-left: 62.5rem;
  opacity: 80%;
}

#snake5{
  position:absolute;
 
  width: 50px;
  height: 330px;
  rotate: 10deg;
  margin-top: 2rem;
  margin-left: 44rem;
  opacity: 80%;
}